{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../../styles/index/styles.css" rel="stylesheet">
    <link href="../../styles/index/vendor.css" rel="stylesheet">
    <link href="../../styles/summary/summary.css" rel="stylesheet">
    <link href="../../styles/summary/table.css" rel="stylesheet">
    <link href="../../styles/summary/table2.css" rel="stylesheet">
    <link href="../../styles/seo/selection.css" rel="stylesheet">
    <link href="../../styles/seo/slider.css" rel="stylesheet">
    <link href="../../styles/seo/table.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script>
        function collapse(element) {
            let display = element.children[1].style.display
            element.children[1].style.display = display === "block" ? "none" : "block"
        }
    </script>
{% endblock %}
{% block body %}
    <div id="mp-stats-app" class="main-content container-fluid">
        <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
            <div class="ag-overlay-panel">
                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                    <div class="mp-loader-static"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header py-3 d-flex justify-content-between align-items-center"><h1
                            class="page-header my-0">Разделы рубрикатора</h1>
                    <div class="d-flex justify-content-between align-items-center"><label for="filter-categories"
                                                                                          class="mb-0 mr-2">Поиск
                            категории</label> <input id="filter-categories" type="text"></div>
                </div> <!----></div>
            <div id="page-categories-container" class="row">
                {% for category in categories %}
                    <div class="col-xs-12 col-md-4">
                        <div onclick="collapse(this)" class="card bg-light">
                            <div role="tab"
                                 class="card-header cursor-pointer py-1 px-3 mx-0 d-flex justify-content-between align-items-center collapsed"
                                 tabindex="0" aria-expanded="false"
                                 aria-controls="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d"
                                 style="overflow-anchor: none;"><span>{{ category.name }}</span> <i class="fas fa-caret-down"></i></div>
                            <div id="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d" class="collapse" role="tabpanel"
                                 style="display: none;">
                                <ul class="list-group list-group-flush subcategories">
                                    <li role="tab" class="list-group-item d-flex flex-column">
                                        <div class="d-flex justify-content-between align-items-center cursor-pointer collapsed"
                                             role="button" tabindex="0" aria-expanded="false"
                                             aria-controls="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-3c47285de656a84f0aeb9abc3c0f3596"
                                             style="overflow-anchor: none;"><a
                                                    href="/wb/category?url=Premium%2F%D0%94%D0%B5%D1%82%D1%8F%D0%BC"><span>Детям</span>
                                                <sup class="text-muted"><i class="fas fa-link"></i></sup></a> <i
                                                    class="fas fa-caret-down cursor-pointer lead"></i></div>
                                        <div id="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-3c47285de656a84f0aeb9abc3c0f3596"
                                             class="collapse" role="tabpanel" style="display: none;">
                                            <ul class="list-group list-group-flush mt-3">
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%94%D0%B5%D1%82%D1%8F%D0%BC%2F%D0%91%D0%B5%D0%BB%D1%8C%D0%B5%20%D0%B8%20%D0%BA%D1%83%D0%BF%D0%B0%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%B8"><span>Белье и купальники</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%94%D0%B5%D1%82%D1%8F%D0%BC%2F%D0%9E%D0%B4%D0%B5%D0%B6%D0%B4%D0%B0"><span>Одежда</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li role="tab" class="list-group-item d-flex flex-column">
                                        <div class="d-flex justify-content-between align-items-center cursor-pointer collapsed"
                                             role="button" tabindex="0" aria-expanded="false"
                                             aria-controls="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-9c6fae9c3e330aa8938295a17ee47d77"
                                             style="overflow-anchor: none;"><a
                                                    href="/wb/category?url=Premium%2F%D0%96%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0%D0%BC"><span>Женщинам</span>
                                                <sup class="text-muted"><i class="fas fa-link"></i></sup></a> <i
                                                    class="fas fa-caret-down cursor-pointer lead"></i></div>
                                        <div id="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-9c6fae9c3e330aa8938295a17ee47d77"
                                             class="collapse" role="tabpanel" style="display: none;">
                                            <ul class="list-group list-group-flush mt-3">
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%96%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0%D0%BC%2F%D0%91%D0%B5%D0%BB%D1%8C%D0%B5%20%D0%B8%20%D0%BA%D1%83%D0%BF%D0%B0%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%B8"><span>Белье и купальники</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%96%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0%D0%BC%2F%D0%9A%D1%80%D0%B0%D1%81%D0%BE%D1%82%D0%B0"><span>Красота</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%96%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0%D0%BC%2F%D0%9E%D0%B4%D0%B5%D0%B6%D0%B4%D0%B0"><span>Одежда</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li role="tab" class="list-group-item d-flex flex-column">
                                        <div class="d-flex justify-content-between align-items-center cursor-pointer collapsed"
                                             role="button" tabindex="0" aria-expanded="false"
                                             aria-controls="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-85cf4e1401217268bf5fcfe461eeac37"
                                             style="overflow-anchor: none;"><a
                                                    href="/wb/category?url=Premium%2F%D0%9C%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D0%B0%D0%BC"><span>Мужчинам</span>
                                                <sup class="text-muted"><i class="fas fa-link"></i></sup></a> <i
                                                    class="fas fa-caret-down cursor-pointer lead"></i></div>
                                        <div id="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-85cf4e1401217268bf5fcfe461eeac37"
                                             class="collapse" role="tabpanel" style="display: none;">
                                            <ul class="list-group list-group-flush mt-3">
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%9C%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D0%B0%D0%BC%2F%D0%91%D0%B5%D0%BB%D1%8C%D0%B5%20%D0%B8%20%D0%BF%D0%BB%D1%8F%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B4%D0%B5%D0%B6%D0%B4%D0%B0"><span>Белье и пляжная одежда</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%9C%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D0%B0%D0%BC%2F%D0%9C%D1%83%D0%B6%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BA%D0%BE%D1%81%D0%BC%D0%B5%D1%82%D0%B8%D0%BA%D0%B0%20%D0%B4%D0%BB%D1%8F%20%D1%83%D1%85%D0%BE%D0%B4%D0%B0"><span>Мужская косметика для ухода</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%9C%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D0%B0%D0%BC%2F%D0%9E%D0%B4%D0%B5%D0%B6%D0%B4%D0%B0"><span>Одежда</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li role="tab" class="list-group-item d-flex flex-column">
                                        <div class="d-flex justify-content-between align-items-center cursor-pointer collapsed"
                                             role="button" tabindex="0" aria-expanded="false"
                                             aria-controls="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-af6b2ee1a12f056dae848f0bc8146c80"
                                             style="overflow-anchor: none;"><a
                                                    href="/wb/category?url=Premium%2F%D0%9E%D0%B1%D1%83%D0%B2%D1%8C%20%D0%B8%20%D0%B0%D0%BA%D1%81%D0%B5%D1%81%D1%81%D1%83%D0%B0%D1%80%D1%8B"><span>Обувь и аксессуары</span>
                                                <sup class="text-muted"><i class="fas fa-link"></i></sup></a> <i
                                                    class="fas fa-caret-down cursor-pointer lead"></i></div>
                                        <div id="category-accordion-8d5e7e72f12067991186cdf3cb7d5d9d-af6b2ee1a12f056dae848f0bc8146c80"
                                             class="collapse" role="tabpanel" style="display: none;">
                                            <ul class="list-group list-group-flush mt-3">
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%9E%D0%B1%D1%83%D0%B2%D1%8C%20%D0%B8%20%D0%B0%D0%BA%D1%81%D0%B5%D1%81%D1%81%D1%83%D0%B0%D1%80%D1%8B%2F%D0%90%D0%BA%D1%81%D0%B5%D1%81%D1%81%D1%83%D0%B0%D1%80%D1%8B"><span>Аксессуары</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                                <li class="list-group-item"><a
                                                            href="/wb/category?url=Premium%2F%D0%9E%D0%B1%D1%83%D0%B2%D1%8C%20%D0%B8%20%D0%B0%D0%BA%D1%81%D0%B5%D1%81%D1%81%D1%83%D0%B0%D1%80%D1%8B%2F%D0%9E%D0%B1%D1%83%D0%B2%D1%8C"><span>Обувь</span>
                                                        <sup class="text-muted"><i class="fas fa-link"></i></sup></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex flex-column"><a href="/wb/category?url=Premium">
                                            Весь раздел
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
        <div><!---->
            <div class="snotify snotify-left_top"></div>
            <div class="snotify snotify-left_center"></div>
            <div class="snotify snotify-left_bottom"></div>
            <div class="snotify snotify-right_top"></div>
            <div class="snotify snotify-right_center"></div>
            <div class="snotify snotify-right_bottom"></div>
            <div class="snotify snotify-center_top"></div>
            <div class="snotify snotify-center_center"></div>
            <div class="snotify snotify-center_bottom"></div>
        </div>
    </div>
{% endblock %}