{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{%block styles%}

    <link href="styles/auth.css" rel="stylesheet">
{%endblock%}

{% block body %}
    <form method="post">
        <p style="text-align:center;"><img src="/img/logo.png" width="250"  alt="Logo"></p>
        {% if ipAddr ?? false%}
            <div class="error">Превышен лимит количества устройств</div>
        {% endif %}
        {% if deactivated ?? false %}
            <div class="error">Пользователь деактивирован, для продления подписки обращайтесь в тех. службу</div>
        {% endif %}
        {% if error ?? false %}
            <div class="error">Неверное имя пользователя или пароль</div>
        {% endif %}
        {% if blocked ?? false %}
            <div class="error">Ваш демо счет заблокирован</div>
        {% endif %}
        <label for="inputUsername">
            <input type="text" value="" placeholder="Имя пользователя" name="username"
                   id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        </label>
        <label for="inputPassword">
            <input type="password" placeholder="Пароль" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>
        </label>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <input {% if blocked ?? false %}disabled{% endif %} class="submit" type="submit" value="Вход"/>
        <a {% if blocked ?? false %}{% else %}href="{{ path('demo') }}"{% endif %}><input type="button" class="submit" value="Демо-доступ"></a>
    </form>
    <a href="https://t.me/+A-ggu6vreqplMTFi" style="position: fixed; bottom: 15px; width:100%; text-align: center">Техническая поддержка</a></p>

    <script>
        if({{ logout ?? "false"}}){
            fetch('/logout')
        }
    </script>
{% endblock %}
