{% extends 'base.html.twig' %}
{%block logout%}
    {% if app.user %}
        <li>
            <a href="{{ path('app_logout') }}">Выйти</a>
        </li>
    {% endif %}
{%endblock%}
{%block body%}{%endblock%}