body{
    min-height: 90vh;
    background: #5b4be1;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    font-size: 4vh;
}
form :only-child{
    margin: 2vh;
}
p{
    margin-bottom: 5vh;
}
.error{
    color:white;
    font-size: 2vh;
    margin: 0;
    background:red;
}
form input{
    background:white;
    text-align: center;
    border:none;
    width: 250px;
    height: 30px;
    padding: 1vh;
    border-radius: 5px;
    font-size: 2vh;
}
.submit{
    margin-block: 5vh;
    width: 250px;
    background: #e8f0fe;
    font-size: 2vh;
    height: auto;
    padding: 1vh 3vh;
    border-radius: 5px;
    color: #5b4be1;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
